* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hero {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 126, 85);
  margin-bottom: 2.2rem;
}
.hero-banner {
  text-align: center;
  padding: 0 3rem;
  color: white;
}
.hero-banner h3 {
  font-size: 3.2rem;
  letter-spacing: 2px;
  margin: 10px auto;
  padding: 8px;
}
.hero-banner p {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  margin: 8px auto;
  max-width: 500px;
}

.input-bar {
  height: 40px;
  border-radius: 20px;
  width: 90%;
  background: transparent;
  color: white;
  border: 4px solid white;
  outline: none;
  font-size: 1.2rem;
  margin: 10px auto;
}
.input-bar::placeholder {
  color: white;
}
.hero-btn {
  font-size: 1.3rem;
  background-color: white;
  color: rgb(118, 118, 118);
  text-decoration: none;
  padding: 4px 24px;
  outline: none;
  border: 4px solid white;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.4s ease;
}
.hero-btn:hover {
  color: black;
  transform: scale(1.02);
}

.news {
  margin: 10px 0;
}
.row {
  margin: 10px;
}
.card {
  height: 480px;
}

.card img {
  height: 240px;
  object-fit: cover;
}

.card-text {
  font-size: 12px;
  max-width: 350px;
  margin: 10px auto;
}
.card-title {
  font-weight: 600;
}
.card a {
  margin: 3px;
}
.news-column {
  padding: 3% 2%;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.category ul li {
  list-style: none;
  margin: 10px 0;
}
